<%- include('../base/header.ejs') -%>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="text-center">
                <img src="/img/e-commerce/nikes.jpg" class="img-thumbnail img-responsive" alt="">
              </p>
            </div>
          </div>

          <h3 class="text-center"><strong><%= product.productName %></strong></h3>
          <h2 class="text-center text-success">KSH. <%= product.price %></h2>
          <blockquote class="text-primary">
            <%= product.description %>
          </blockquote>
          <p class="text-center">
            <a href="/purchase" class="btn btn-warning">Purchase</a>
          </p>
        </div>
      </div>
<%- include('../base/footer.ejs') -%>
